
/* Variables */

$font1: 'Playfair Display', serif;
$font2: 'Bad Script', cursive;
$font-principal: 'Open Sans', sans-serif;

$red: rgb(166,3,17);
$green: rgb(137,166,93);
$yellow: rgb(242,204,12);


